<nav class="navbar navbar-expand-lg bg-dark navbar-primary">
    <style>
    
    </style>
        <div class="container">
            <a href="/" class="navbar-brand text-light">
                My Job

                     
            </a>
    
    
            <div class="navbar-collapse" id="navigation-menu">
                <!-- Left -->
                <ul class="navbar-nav mr-auto">
    
                    <li class="nav-item">
                        <a routerLink="/" class="nav-link text-light">Home</a>
                    </li>
                    <li *ngIf="isOrganization">
                        <a *ngIf="isOrganization" routerLink="/create" class="nav-link text-light">Create</a>
                    </li>
    
    
                </ul>
                
    
                <!-- Right -->
                <ul class="navbar-nav ms-auto">
                        
                    <li class="nav-item" id="user" *ngIf="isLoggedIn != null">
                        <a class="nav-link text-light">Welcome, {{loggedUserName}}</a>
                    </li>
                    <li *ngIf="isLoggedIn === null" class="nav-item">
                        <a routerLink="/login" class="nav-link text-light">Login</a>
                    </li>
                    <a *ngIf="isLoggedIn" class="nav-link text-light" (click)="onLogout()">Logout</a>

                </ul>
            </div>
    
    
        </div>
    
</nav>

