<nav class="navbar">
    <section class="navbar-dashboard">
        <a routerLink="/">Home</a>

        <div id="user" *ngIf="isLoggedIn != null">
            <span class="span">Welcome, </span>
            <p [textContent]='loggedUserName'></p>
            <div *ngIf="isOrganization">
                <a routerLink="/create">Create ad</a>
            </div>
            
            <a class="button" 
            (click)="onLogout()">Logout</a>
        </div>
        <div id="guest" *ngIf="isLoggedIn === null">
            <a routerLink="/login">Login</a>
        </div>

    </section>
</nav>

